@import url(https://db.onlinewebfonts.com/c/590d26872afc308d02689176a1985e6c?family=Kare+W01+Regular);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

body{
  position: relative;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}


.container{
  margin-top: 100px;
}


.homo{
  color: #4caf50;
  margin-top: -40px;
  font-family: "Kare W01 Regular";
  font-size: 170px;
  letter-spacing: 1px;
  margin-bottom: -15px;
}

.powered{
  font-size: 60px;
}

.pathy{
  color: #4caf50;
}


button{
  background-color: #4caf50;
  border: none;
  border-radius: 90px;
  height: 150px;
  Width: 850px;
  margin-top: 19%;
  margin-bottom: 0px;
  color: white;
  text-decoration: none;
  font-size: 50px;
  font-family: "Montserrat";
  font-weight: bold;
}

.benefits{
    font-size: 137px;
    font-weight: 900;
    text-align: left;
    margin-left: 70px;
    margin-top: 80px;
    margin-bottom: -80px;
}

.para{
    font-size: 53.6px;
    text-align: left;
    margin-left: 72px;
    width: 800px;
}

.boldp{
    font-weight: bold;
}