@import url(https://db.onlinewebfonts.com/c/590d26872afc308d02689176a1985e6c?family=Kare+W01+Regular);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

body{
  position: relative;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.bengali-font {
    font-family: 'Hind Siliguri', sans-serif;
}

.container{
  margin-top: 100px;
}


.homo{
  color: #4caf50;
  margin-top: -40px;
  font-family: "Kare W01 Regular";
  font-size: 170px;
  letter-spacing: 1px;
  margin-bottom: -15px;
}

.powered{
  font-size: 60px;
}

.pathy{
  color: #4caf50;
}


button{
  background-color: #4caf50;
  border: none;
  border-radius: 90px;
  height: 150px;
  Width: 850px;
  margin-top: 71px;
  margin-bottom: 50px;
  color: white;
  text-decoration: none;
  font-size: 50px;
  font-family: "Montserrat";
  font-weight: bold;
}

.regis{
  font-size: 122px;
  font-weight: 900;
  text-align: left;
  margin-left: 70px;
  margin-top: 80px;
  margin-bottom: 0px;
}

.payis{
  font-size: 122px;
  font-weight: 900;
  text-align: left;
  margin-left: 0px;
  margin-top: 80px;
  margin-bottom: 0px;
  margin-top: 250px;
}

.para{
    font-size: 50px;
    text-align: left;
    margin-left: 72px;
    
}

.spa{
  margin-top: 50px;
}

.boldp{
    font-weight: bold;
}

.colour{
    color:#4caf50;
    font-weight: bold;
}

.space{
    margin-top: 10px;
}

svg{
  height: 86px; 
  width: 90px;
  margin-top: 54px;
  margin-left: 40px;
  margin-right: -2px;
}

.inpt {
  font-size: 50px;
  border-radius: 60px;
  height: 200px;
  width: 810px;
  border: 3px solid #000000;
  margin-bottom: 35px;
}


input::placeholder {
  color: #00000062;
  font-size: 47px;
  font-family: 'Montserrat';
  font-weight: 500;
}

textarea:focus, input:focus{
  outline: none;
}

input {
  height: 120px;
  width: 620px;
  font-size: 47px;
  border: none;
  padding-left: 30px;
  font-family: 'Montserrat';
  font-weight: 500;
  margin-top: 45px;
  position: absolute;
}


.check {
  width: 42px;
  height: 42px;
  accent-color: #4caf50;
  margin-top: 56px;
  margin-left: 40px;
}

.margin-m {
  position: absolute;
  margin-top: 46px;
  margin-left: 100px;
}

.colour-l {
  color: #4caf50;
}

.loader {
  width: 40px; /* Width to fit within the button */
  height: 40px; /* Height to fit within the button */
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  position: relative; /* For better control of child elements */
  animation: l5 1s infinite linear alternate;
}

@keyframes l5 {
  0% { box-shadow: 50px 0 #4caf50, -50px 0 #fff; background: #4caf50; }
  33% { box-shadow: 50px 0 #4caf50, -50px 0 #fff; background: #fff; }
  66% { box-shadow: 50px 0 #fff, -50px 0 #4caf50; background: #fff; }
  100% { box-shadow: 50px 0 #fff, -50px 0 #4caf50; background: #4caf50; }
}


